.builder {
  margin: 2rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// Styled so that up to 800px viewports, the CV builder will fill 75vw
// Larger than that, the width of the builder will stay fixed
$breakpoint: 800px;
$smallerVpMinBuilderWidth: 75vw;
$biggerVpMaxBuilderWidth: $breakpoint * 0.75;
$a4AspectRatio: 1.41;
$fontSizeRelativeToViewportWidth: 0.014;

@media (max-width: $breakpoint) {
  .builder {
    min-width: $smallerVpMinBuilderWidth;
    width: $smallerVpMinBuilderWidth;
    min-height: $smallerVpMinBuilderWidth * $a4AspectRatio;
  }

  :root {
    font-size: $fontSizeRelativeToViewportWidth * 100vw;
  }
}

@media (min-width: $breakpoint) {
  .builder {
    width: $biggerVpMaxBuilderWidth;
    max-width: $biggerVpMaxBuilderWidth;
    min-height: $biggerVpMaxBuilderWidth * $a4AspectRatio;
  }

  :root {
    font-size: $fontSizeRelativeToViewportWidth * $breakpoint;
  }
}
