.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.8rem;

  background: rgb(85, 82, 82);

  padding: 0.8rem;
  width: 100%;

  button {
    font-size: 2rem;
    padding: 0.1rem 2rem;

    span {
      font-size: inherit;
    }
  }

  button.active {
    background: rgb(242, 222, 218);
  }
}
