@use '../colors';

body {
  margin: 0;
  padding: 20px;

  min-width: 320px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--light);
}

#root {
  border-radius: 1rem;
  overflow: hidden;

  background: var(--page);
  box-shadow: 1rem 2rem 1.3rem rgba(0, 0, 0, 0.235);
}
