:root {
  --deleter-color: pink;
}

.deleter {
  position: absolute;
  width: 10px;
  height: 80%;
  background: var(--deleter-color);

  &:hover {
    cursor: pointer;
  }
}

// li {
//   height: 40px;
// }
