:root {
  --deleter-color: pink;
}

.deleter {
  position: absolute;
  width: 10px;
  height: 80%;
  background: var(--deleter-color);
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background: red;
  }
}
