button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.2rem 0.5rem;

  border-radius: 0.4rem;
  border: 0.1rem solid transparent;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: 200ms ease-in-out transform;

  span {
    font-size: inherit;
  }

  span.material-symbols-outlined {
    font-size: 1.4rem;
  }
}

button:hover {
  transform: scale(1.1);
}

button:focus,
button:focus-visible {
  outline: 0.2rem auto black;
}
