.deleter {
  position: absolute;
  width: 0.6rem;
  height: 80%;
  background: var(--deleter-color);
  border-radius: 0.3rem;
  background: var(--danger);

  &:hover {
    cursor: pointer;
  }
}

.deletable {
  border-radius: 0.8rem;
  transition:
    200ms ease-in-out transform,
    200ms ease-in-out background-color;
  padding: 0.3rem;

  &.active {
    background: var(--endangered);
    transform: translateX(0.25rem);
  }
}
