:root {
  --deleter-color: pink;
}

.deleter {
  position: absolute;
  width: 0.6rem;
  height: 80%;
  background: var(--deleter-color);
  border-radius: 0.3rem;

  &:hover {
    cursor: pointer;
    background: red;
  }
}
