@mixin bulletPoint {
  ul {
    margin: 0;
    padding-left: 3ch;
  }

  li {
    display: flex;
    align-items: center;
    height: 3rem;

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  li.bulletPoint::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: black;
    margin-right: 0.35rem;
  }
}
